.cart-actions {
  display: flex;
  justify-content: end;
}

.cart-actions button {
  height: 2.7em;
  width: 7em;
  margin: 0.2em 0 0.2em 1em;
}

.cart-actions button:first-child {
  background-color: white;
  color: #a02e2e;
  border: 1px solid #a02e2e;
}

.cart-actions button:first-child:hover,
.cart-actions button:first-child:active {
  background-color: #5f0303;
  color: white;
}

.cart-actions button:last-child {
  background-color: #a02e2e;
  color: white;
  border: 1px solid #a02e2e;
}

.cart-actions button:last-child:hover,
.cart-actions button:last-child:active {
  background-color: #5f0303;
  color: white;
}